* {
    margin: 0;
    padding: 0;
}
body {
    background-image: url("https://typora-hhhhry.oss-cn-beijing.aliyuncs.com/961e7bac45da8dee4ea5ed1cd8bcf43%201.png");
    background-repeat: no-repeat;
    background-size: 100%;
}


.container {
    width: 1130px;
    height: 840px;
    border-radius: 45px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    box-shadow: 0px 4px 4px 0px #00000040;
    background: #FFFFFF66;
    
}
.back {
    width: 135px;
    height: 50px;
    background: #FFD7D7;
    font-size: 24px;
    border: none;
    position: absolute;
    top: 200px;
    left: 40px;
    transition: background-color 0.3s ease;
    cursor:pointer;/*鼠标悬停时变为手形 */
}

.back:hover {
    background-color: bisque;
}
.back:active {
    transform: scale(0.9);
}
.sure:hover {
    background-color: #B3CBE1;
}
.sure:active {
    transform: scale(0.9);
}
.power {
    width: 240px;
    height: 85px;
    border-radius: 8px;
    background: #FDE4EAB2;
    font-size: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50px;
    left: 500px;
}
.container1 {
    border: 2px black;
    width: 650px;
    height: 350px;
    position: absolute;
    top: 150px;
    left: 220px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.header, .line1, .line2, .line3, .line4, .line5{
    display: flex;
    justify-content: space-between;

}
.header {
    width: 670px;
}
.word {
    font-size: 24px;

}
.box {
    width: 90px;
    height: 35px;
    border-radius: 8px;
    background: #FFFFFF;
}
.past {
    position: absolute;
    top: 190px;
    left: 950px;
}
.next {
    position: absolute;
    top: 480px;
    left: 950px;
}
.sure {
    border: none;
    width: 155px;
    height: 55px;
    background: #D9D9D9;
    font-size: 24px;
    position: relative;
    left: 850px;
    top: 140px;
    cursor: pointer;
}
.succeed {
    width: 770px;
    height: 140px;
    background: #ADC4E5;
    font-size: 32px;
    text-align: center;
    line-height: 140px;
    position: relative;
    top: 180px;
    left: 230px;
    display: none;
}