*{
    padding: 0;
    margin: 0;
}

button:hover{
    cursor: pointer;
}

input{
    border: 0px;
}

input::placeholder{
    color: black;
    font-size: 18px;
    font-family: Inter;
}

button{
    border: 0px;
}

body{
    background: url("https://zhangpeiyao.oss-cn-beijing.aliyuncs.com/BEBC1A382546CBEEE18BF54D89A5E259.png");
    background-size: 100%;
    background-repeat: no-repeat;
}

.version{
    width: 1280px;
    height: 960px;
    margin: auto;
    /* background: url("https://zhangpeiyao.oss-cn-beijing.aliyuncs.com/CFD9B6C0EE640A013A436C2D7E9C7474.png"); */
    position: relative;
    background-repeat: no-repeat;
    background-size: 1280px 960px;
}

.page{
    position: absolute;
    width: 881px;
    height: 613px;
    top: 183px;
    left: 200px;
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 80px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.logo{
    position: absolute;
    width: 400px;
    height: 530px;
    top: 60px;
    left: 200px;
    background: url("https://zhangpeiyao.oss-cn-beijing.aliyuncs.com/%E6%A0%87.png");
    background-size: 100% 100%;
}

.word{
    position: absolute;
    width: 441px;
    height: 613px;
    top: 183px;
    left: 640px;
    text-align: center;
    font-size: 40px;
    border-left: 1px solid black;
    font-weight: 800;
    font-family: Inter;
}

#name2{
    position: absolute;
    width: 300px;
    height: 40px;
    top: 369px;
    left: 248px;
    background-color: rgba(164, 196, 233, 1);
    border-radius: 8px;
    font-size: 16px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

#password2{
    position: absolute;
    width: 300px;
    height: 41px;
    top: 439px;
    left: 248px;
    font-size: 16px;
    border-radius: 8px;
    background-color: rgba(204, 229, 244, 1);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

#password4{
    position: absolute;
    width: 300px;
    height: 41px;
    top: 510px;
    border-radius: 8px;
    left: 248px;
    background-color: rgba(245, 235, 202, 1);
    font-size: 16px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

#email2{
    position: absolute;
    width: 300px;
    height: 41px;
    top: 585px;
    left: 248px;
    border-radius: 8px;
    background-color: rgba(237, 235, 220, 1);
    font-size: 16px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.vcode1{
    position: absolute;
    width: 83px;
    height: 24px;
    top: 647px;
    left: 248px;
    font-size: 16px;
    line-height: 19.36px;
    font-family: Inter;
}

#vcode2{
    position: absolute;
    width: 100px;
    height: 40px;
    top: 671px;
    left: 248px;
    border-radius: 8px;
    background-color: rgba(217, 217, 217, 1);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.vcode3{
    position: absolute;
    width: 100px;
    height: 40px;
    top: 671px;
    left: 382px;
    border-radius: 8px;
    background-color: rgba(217, 217, 217, 1);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

#btn{
    position: absolute;
    width: 140px;
    height: 29px;
    top: 679px;
    left: 493px;
    font-size: 11px;
    line-height: 13.31px;
    background-color:transparent;
    border-style:none;
}

#register{
    position: absolute;
    width: 175px;
    height: 45px;
    top: 728px;
    left: 339px;
    border-radius: 8px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    background-color: rgba(250, 213, 223, 1);
}

#error{
    position: absolute;
    width: 440px;
    height: 215px;
    top: 400px;
    left: 419px;
    border-radius: 45px;
    background-color: rgba(173, 196, 229, 1);
    text-align: center;
    font-size: 27px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

#confirm{
    position: absolute;
    width: 72px;
    height: 40px;
    top: 550px;
    left: 740px;
    background-color: rgba(255, 255, 255, 1);
    border-radius: 8px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}