<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ydsy.mapper.JobMapper">
    <resultMap id="jobsResultMap" type="Job">
        <result column="job_id" property="jobId"/>
        <result column="job_name" property="jobName"/>
        <result column="job_count" property="jobCount"/>
    </resultMap>

    <select id="selectAll" resultMap="jobsResultMap">
        select *
        from jobs;
    </select>
</mapper>