<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ydsy.mapper.leave_requestMapper">
    <resultMap id="leave_requestsResultMap" type="LeaveRequest">
        <result column="leave_request_id" property="leaveRequestId"/>
        <result column="user_id" property="userId"/>
        <result column="leave_request_time" property="leaveRequestTime"/>
        <result column="leave_request_reason" property="leaveRequestReason"/>
        <result column="approve_id" property="approveId"/>
        <result column="approve_status" property="approveStatus"/>
    </resultMap>

    <select id="selectAll" resultMap="leave_requestsResultMap">
        select *
        from leave_requests;
    </select>

</mapper>