<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ydsy.mapper.ParticipantMapper">
    <resultMap id="participantsResultMap" type="Participant">
        <result column="participant_id" property = "participantId"/>
        <result column=" user_id" property = "userId"/>
        <result column="sign_in_status" property = "signInStatus"/>
        <result column="sign_out_status" property = "signOutStatus"/>
        <result column="leave_status" property = "leaveStatus"/>
    </resultMap>

    <select id="selectAll" resultMap="participantsResultMap">
        select  * from participants;

    </select>
</mapper>