<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ydsy.mapper.UserMapper">
    <resultMap id="usersResultMap" type="User">
        <result column="user_id" property="userId"/>
        <result column="job_id" property="jobId"/>
        <result column="personal_signature" property="personalSignature"/>
        <result column="student_id" property="studentId"/>
        <result column="major_class" property="majorClass"/>
        <result column="direction_id" property="directionId"/>
    </resultMap>

    <update id="updateAll">
        update users
        set direction_id = #{directionId}
        where user_id = #{userId};
    </update>

    <select id="selectAll" resultMap="usersResultMap">
        select *
        from users;
    </select>

    <select id="selectByUserIdUser" resultType="com.ydsy.pojo.User" resultMap="usersResultMap">
        select *
        from users
        where user_id = #{userId};
    </select>

</mapper>